extends layout

block content
  h1= title
  p
  img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Boston_University_Wordmark.svg/2000px-Boston_University_Wordmark.svg.png', align = 'right',height = '186', width = '400')
  // img(src='https://scontent-lga3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12189137_10206910461495971_3143562682755493675_n.jpg?oh=1acbe3fcd74b9eff0cc30035f46bbb0a&oe=56B5BEBC', align = 'right',height = '288', width = '449')
  p Welcome to #{title}

  a(href='/test') Test the Google API here!
  br
  a(href='/form') Lose an Item?




