doctype html
html
    // page form.html in the nodeform folder in the current directory
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Lost Item Pin
    body
        form#form1(name='form1', method='get', action='getData')
            label
                label
                    | Please fill up the form with the lost item information and submit.
                    br
                    p
                | Name
                input#name(type='text', name='name', placeholder='Please Input Name')
            p
            p
                label
                    | BU ID
                    input(type='text', name='uid', id='bu id', placeholder='Please Input UID')
            p
                label
                    | Select your lost item from one of the selections below:
                    select(name='lostitem', multiple='')
                        option(value='uid')  BU ID
                        option(value='wallet')  Wallet
                        option(value='waterbottle')  Waterbottle
                        option(value='clothing')  Clothing
                        option(value='accessories')  Jewelry or Accessories
                        option(value='other')  Other
            p
                label
                    | Lost Item Description
                    textarea#description(name='description', placeholder='Enter a short description about the lost item')
            p
                label
                    input#submit(type='submit', name='submit', value='Submit')
